.card-body{
  font-size:14px;
}

.bg-dark{
  background-color: #2b2c2d!important;
}

.show-more{
  color: #0275d8;
}

.card.game{
  margin-bottom: 15px;
}

.card.game .team-name{
  align-items: center;
  display: inline-flex;
}

.card.game .score{
  font-size: 26px;
  font-weight: bold;
}

.card.game .show-detail{
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.card.game .team-names{
  font-size: 12px;
}

.card.game .card-title{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}