body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ddd;
}

.card-body{
  font-size:14px;
}

.bg-dark{
  background-color: #2b2c2d!important;
}

.show-more{
  color: #0275d8;
  cursor: pointer;
}

.card.game{
  margin-bottom: 15px;
}

.card.game .team-name{
  align-items: center;
  display: inline-flex;
}

.card.game .score{
  font-size: 26px;
  font-weight: bold;
}

.card.game .show-detail{
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.card.game .team-names, .small-text{
  font-size: 12px;
}

.card.game .card-title{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.pointer{
  cursor: pointer;
}

.card.game tbody{
  border:none;
}

.card.game table tr.odd{
  background-color: rgba(0,0,0,.05);
}

#top-players-filter{
  padding: 0 20px 20px 20px;
}

#top-players-filter label{
  margin-right: 30px;
}

#data-management-control{
  margin-bottom: 15px;
}

.modal.show{
  display: block !important;
}

#add-game-bar{
  margin-bottom: 15px;
}

.spacer{
  margin-bottom: 15px;
}

table.add-game td{
  vertical-align: middle;
}

#main-header{
  background-color:#2b2c2d!important;text-align:center;
}

#red-stripe{
  background-color:red; height:3px;
}

#main-logo{
  width: 75px;
}
#main-container{
  margin-top:25px;
}

#main-logo-link{
  margin: 0 auto;
}

.add-league{
  margin-top: 15px;
}

.btn-toolbar .btn{
  margin-right: 5px;
}
